{% extends "base_generic.html" %}

{% block content %}
  <h1>PerfDash Home</h1>
  <p>
    Welcome to PerfDash, a website developed for the
    <em>OSU NOC</em>!
  </p>
  <h2>Currently Configured Tests:</h2>

    <ul>
      {% for test in all_tests %}
      <li><b>{{ test.test_name }}</b>
        <ul>
          <li>Source: {{ test.source_host }}</li>
          <li>Destination: {{ test.dest_host }}</li>
          <li>Test Type: {{ test }}</li>
          <li>Duration: {{ test.duration }}s</li>
        </ul>
      </li>
    {% endfor %}
  </ul>
  <p>PerfDash has the following record counts:</p>
  <ul>
    <li><strong>Hosts:</strong> {{ num_hosts }}</li>
    <li><strong>Tests:</strong> {{ num_tests }}</li>
    <li><strong>Throughput Tests:</strong> {{ num_throughput_tests }}</li>
    <li><strong>Locations:</strong> {{ num_locations }}</li>
  </ul>
{% endblock %}
